@import '../../styles/variables.module.scss';

.mainContainerHeader {
  background-color: $primary-color;
}

.mainContainerHeader .containerHeader {
  display: flex;
  max-width: 63em;
  margin: 0 auto;
}

.mainContainerHeader .containerHeader .logo {
  height: 30px;
  margin-top: 13px;
}

.mainContainerHeader .containerHeader .formSearch {
  align-items: center;
  display: flex;
  height: 35px;
  padding: 10px;
  width: 100%;
}

.mainContainerHeader .containerHeader .formSearch input {
  height: 30px;
  width: 100%;
  border: none;
  padding-left: 10px;
}

.mainContainerHeader .containerHeader .formSearch .iconSearch {
  background-color: $gray-1;
  padding: 5px 10px;
  border: none;
}

.mainContainerHeader .containerHeader .formSearch .iconSearch img {
  height: 18px;
}